In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pdf=pd.read_csv("salaries.csv")

In [5]:
pdf

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [15]:
input=pdf[["company","job","degree"]]

In [17]:
input

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [19]:
y=pdf["salary_more_then_100k"]

In [21]:
y

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

In [23]:
from sklearn.preprocessing import LabelEncoder

In [25]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [47]:
input["com_n"]=le_company.fit_transform(input["company"])

In [49]:
input["job_n"]=le_job.fit_transform(input.job)

In [51]:
input["degree_n"]=le_degree.fit_transform(input.degree)
input

       company                  job     degree  com_n  job_n  degree_n
0       google      sales executive  bachelors      2      2         0
1       google      sales executive    masters      2      2         1
2       google     business manager  bachelors      2      0         0
3       google     business manager    masters      2      0         1
4       google  computer programmer  bachelors      2      1         0
5       google  computer programmer    masters      2      1         1
6   abc pharma      sales executive    masters      0      2         1
7   abc pharma  computer programmer  bachelors      0      1         0
8   abc pharma     business manager  bachelors      0      0         0
9   abc pharma     business manager    masters      0      0         1
10    facebook      sales executive  bachelors      1      2         0
11    facebook      sales executive    masters      1      2         1
12    facebook     business manager  bachelors      1      0         0
13    facebook     business manager    masters      1      0         1
14    facebook  computer programmer  bachelors      1      1         0
15    facebook  computer programmer    masters      1      1         1

In [57]:
final=input.drop(["company","job","degree"],axis=1)

In [59]:
final

    com_n  job_n  degree_n
0       2      2         0
1       2      2         1
2       2      0         0
3       2      0         1
4       2      1         0
5       2      1         1
6       0      2         1
7       0      1         0
8       0      0         0
9       0      0         1
10      1      2         0
11      1      2         1
12      1      0         0
13      1      0         1
14      1      1         0
15      1      1         1

In [65]:
from sklearn import tree

In [69]:
model=tree.DecisionTreeClassifier()
model.fit(final,y)

DecisionTreeClassifier()

In [71]:
model.score(final,y)

1.0

In [73]:
model.predict([[2,2,0]])

C:\Users\pc\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

#### hence we have finished decision tree model

In [76]:
titanic=pd.read_csv("titanic.csv")

In [78]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S